<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%- include('./head.ejs') %>
   <%- include('./nav.ejs') %>
    <title>Home Page</title>
</head>
<body>
    <h1>Dashboard</h1>
    <h2><%= home.name %> </h2>
    <%- include('./modal.ejs') %>

  <%- include('./tail.ejs') %>
  <button class="btn btn-primary">submit</button>
</body>
</html>